:root {
    --header-bg-color: #2D3E49;
    --logo-bg: #3072AC;
    --secondary-font-color: #ffffff;
    --search-bg-color: #E1E5E8;
    --header-menu-font-color: #C9D1D7;
    --border-header-account: 1px solid #C9D1D7;
    --account-bg-color: #3072AC;
    --notification-alert-bg-color: #C12D2E;
    --notification-alert-border: 1px solid #2D3E49;
}
